<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    
  <servlet>
  	<servlet-name>Main</servlet-name>
  	<servlet-class>com.pmrice.dm.servlet.MainServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>Reports</servlet-name>
  	<servlet-class>com.pmrice.dm.servlet.ReportsServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>Mail</servlet-name>
  	<servlet-class>com.pmrice.dm.servlet.MailServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <session-config>
  	<session-timeout>45</session-timeout>
  </session-config>
  
  <servlet-mapping>
  	<servlet-name>Main</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reports</servlet-name>
  	<url-pattern>/reports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Mail</servlet-name>
  	<url-pattern>/mail</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:h2:~/dmdb</param-value>
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>db.password</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>db.tcpServer</param-name>
    <param-value>-tcpAllowOthers</param-value>
  </context-param>
  
  <listener>
  	<listener-class>org.h2.server.web.DbStarter</listener-class>
  </listener>
  
</web-app>